:root {
    --cor-de-fundo: #f9f9f9;
    --cor-texto-link: #808080;
    --cor-texto-ativo: #333333;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-de-fundo);
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    color: var(--cor-texto-link);
    margin-right: 1.25rem;
    text-transform: lowercase;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link.ativo {
    color: var(--cor-texto-ativo);
    font-weight: bold;
}


@media screen and (min-width: 0) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
        background-color: #f9f9f9;
    }

    .logo {
        display: none;
    }

    .banner__titulo {
        font-size: 3rem;
    }

    .banner__imagem {
        height: calc(100vh - 51px);
    }

}


@media screen and (min-width: 768px) {
   .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
        background-color: #f9f9f9;
    } 

   .logo {
        display: block;
    }

    .banner__titulo {
        font-size: 5.0625rem;
    }

    .banner__imagem {
        height: calc(100vh - 72px);
    }
}