:root {
    --cor-titulo: #8d0606;
    --cor-texto-descricao: #8C8888;

    --fonte-titulo: Pacifico;
    --fonte-descricao: Roboto;
}

.quem-somos {
    text-align: center;
    padding: 5rem;
}

.quem-somos__titulo {
    margin-bottom: 1rem;
    color: var(--cor-titulo);
    font-size: 3.5rem;
    font-family: var(--fonte-titulo), cursive;
}

.quem-somos__descricao {
    font-weight: 100;
    font-size: 1.75rem;
    color: var(--cor-texto-descricao);
}

.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.pessoa {
    display: flex;
    flex-direction: column;
}

.pessoa__nome {
    margin: 1rem 0;
    font-family: var(--fonte-titulo), cursive;
    color: var(--cor-titulo);
    font-size: 2rem;
}

.pessoa__funcao {
    text-transform: lowercase;
    color: var(--cor-texto-descricao);
    font-size: 1.25rem;
}

.pessoa__imagem {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 300px;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.pessoa__imagem--roberta {
    background-image: url(../img/pessoas/roberta.jpg);
}

.pessoa__imagem--marcela {
    background-image: url(../img/pessoas/marcela.jpg);
}

.pessoa__imagem--andreia {
    background-image: url(../img/pessoas/andreia.jpg);
}


@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;
    }

    .pessoa {
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
    }

    .pessoa {
        margin-bottom: 0;
    }
}