:root {
    --cor-de-fundo: #bfbfbf;
    --cor-texto-contato: #ffffff;
    --cor-detalhe-rodape: #8D0606;

    --fonte-contato: Roboto;
}

.rodape {
    background: var(--cor-de-fundo);
    color: var(--cor-texto-contato);
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}